form.navbar-form
    .col-lg-5(style="padding:0")
        .input-group
            input.form-control(type='text', placeholder='URL', ng-model="page.url")
            span.input-group-btn
                button.btn.btn-default(type='submit', ng-click="createPage()") Go

    &nbsp;

    .btn-group
        button.btn.btn-default(type='button', ng-click="goBack()") Back
        button.btn.btn-default(type='button', ng-click="reload()") Reload
        button.btn.btn-default(type='button', ng-click="goForward()") Forward

    .btn-group
        button.btn.btn-default(type='button', ng-click="") Watch
        button.btn.btn-default(type='button', ng-click="") Do
